{% extends "base.j2" %}
{% block content %}
    <div class="page-header">
        <h1>Stores <small>List of supported stores</small></h1>
    </div>
    <div class="list-group">
        {% for store in stores %}
            <a href="{{ url_for('stores.store_page', store_id=store._id) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ store.name }}</h4>
                <p class="List-group-item-text">All URL's in this store should start with <strong>{{ store.url_prefix }}</strong></p>
            </a>
        {% endfor %}
     </div>
    {% if session['email'] in config.ADMINS %}
     <a class="btn btn-success" href="{{ url_for('stores.create_store') }}"><i class="fas fa-plus-circle"></i> Create New Store</a>
    {% endif %}
{% endblock %}